In [0]:
from bs4 import BeautifulSoup
import requests
import bs4
import pandas as pd

In [0]:
source=requests.get('https://en.wikipedia.org/wiki/List_of_Padma_Shri_award_recipients_(2010%E2%80%932019)').text

In [0]:
soup=BeautifulSoup(source,'html.parser')

In [17]:
table = soup.find('table',{'class':'wikitable plainrowheaders sortable'}).tbody

rows = table.find_all('tr')

columns = [v.text.replace("\n","") for v in rows[0].find_all('th')]
print(columns)

['Year', 'Recipient', 'Field', 'State / Country']

In [0]:
df=pd.DataFrame(columns=columns)

In [0]:

for i in range(1, len(rows)):
    tds = rows[i].find_all('td')
    if len(tds) == 3:
        values =[tds[0].text.replace("\n",''),'',tds[1].text,tds[2].text.replace("\n",'')]
    else:
        values =[td.text.replace("\n",'') for td in tds]
    df = df.append(pd.Series(values, index = columns), ignore_index = True)

In [0]:

links = table.findAll('a')
Names =[]

for link in links:
    Names.append(link.get('title'))

In [32]:
df1=pd.DataFrame()
df1['Recipient']=Names
df1.dropna()

                         Recipient
0                Ramakant Achrekar
1                          Anu Aga
2    K. K. Aggarwal (cardiologist)
3                 Philip Augustine
4                      Gul Bardhan
..                             ...
869         Ramaswami Venkataswami
870                Ram Saran Verma
871            Swami Vishudhananda
872                  Hiralal Yadav
873    Venkateswara Rao Yadlapalli

[792 rows x 1 columns]

In [33]:
df

     Year Recipient        Field State / Country
0    2010                 Sports     Maharashtra
1    2010            Social Work     Maharashtra
2    2010               Medicine           Delhi
3    2010               Medicine          Kerala
4    2010                   Arts  Madhya Pradesh
..    ...       ...          ...             ...
812  2019               Medicine      Tamil Nadu
813  2019                 Others   Uttar Pradesh
814  2019                 Others          Kerala
815  2019                   Arts   Uttar Pradesh
816  2019                 Others  Andhra Pradesh

[817 rows x 4 columns]